<%- include("../partial/head") %>
<nav class="row between border-bottom padding-right padding-left">
    <a href="/admin" class="row">
        <img src="/images/lfa_logo.png" class="nav-logo" >
        <h4 class="large bold">Dashboard</h4>
    </a>
    <span class="row">
        <a href="admim/cm" class="padding link-button bold">County Meet</a>
        <a href="admin/fd" class="padding link-button bold">First Division</a>
        <a href="admin/sd" class="padding link-button bold">Second Division</a>
        <a href="admin/sd" class="padding link-button bold">Women League</a>
    </span>
    <span class="avatar border">
        <img src="/images/yellow_card.png" alt="" srcset="" class="">
    </span>
</nav>