<nav class="toolbar margin-bottom padding">
    <span class="select-group row">
        <%- include("./season.dialog.ejs") %>
        <select name="season" id="seasons" class="small-select">
            <option value="2023">2023</option>
        </select>
    </span>    
</nav>