<nav class="margin-bottom small-padding bg-white border-bottom row">
        <section class="row">
            <button class="icon-button small gray round" title="go back" id="back"><i class="fa fa-back-arrow">&leftarrow;</i></button>
            <select name="season" id="barSeasons" class="small-select season-selector">
                <option value="2023">2023</option>
            </select>
        </section>
    <span class="row move-right">

        <!-- <button menu-ui="#dropdown2" class="icon-button">
            <i class="fa fa-ellipsis-h"></i>
        </button>
        <div id="dropdown2" menu-data="dropdown2">
        </div> -->

        <%- include("./phase.dialog.ejs") %>
        <a href="/dashboard/competitions/<%= competition.id %>/games/new" class="small-button">New Game</a>
        <%- include("./season.dialog.ejs") %>
    </span>
</nav>