<%- include("./dash.nav.ejs") %>
<body class="bg-rose">
    <main class="wall row top-align">
       competition
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/competition.dash.js"></script>
</body>