<nav class="small-padding row between border-bottom bg-white">
    <a href="/dashboard" class="row bold black cap">
        <button class="icon-button small">
            <i class="fa fa-home"></i>
        </button>
        dashboard
    </a>
    <section class="move-right row bol blue cap">
        <a href="/dashboard/competitions" class="cap bold blue link-btn">competitions</a>
        <a href="/dashboard/clubs" class="cap bold blue link-btn">teams</a>
        <a href="/dashboard/games" class="cap bold blue link-btn">games</a>
        <img src="/images/sample.jpg" alt="" class="avatar small">
    </section>
</nav>