<nav class="small-padding row between border-bottom bg-white">
    <a href="/dashboard" class="row bold black cap">
        <button class="icon-button small">
            <i class="fa fa-home"></i>
        </button>
        dashboard
    </a>
    <section class="move-right row bol cap">
        <a href="/dashboard/competitions" class="cap bold blue link-btn">competitions</a>
        <a href="/dashboard/clubs" class="cap bold blue link-btn">teams</a>
        <a href="/dashboard/games" class="cap bold blue link-btn">games</a>
        <button class="icon-button gray round border" data-menu="#notification">
            <i class="fa fa-bell"></i>
        </button>
        <button class="icon-button small">
            <img src="/images/sample.jpg" alt="" class="avatar medium">
        </button>
    </section>
</nav>
<section data-menu="notification" class="padding bg-white small-round">
    all notifications
</section>