<%- include("./dash.nav.ejs") %>
<body class="bg-rose">
<%- include("./dash.bar.ejs") %>
    <main class="min-wide row top-align">
        <aside class="small-pane">
            
        </aside>
        <div class="small-main bg-white small-padding min-high ">
            <small id="msg"></small>
            <section class="row around margin-top margin-bottom">
                <span class="row cap" id="hometeam"></span>
                <span class="row align-center" id="gamescores"></span>
                <span class="row cap" id="awayteam"></span>
            </section>
            <hr class="divider">
            <div id="summary" class="row flex top-align">
                <div id="homesummary" class="column">
                    <!-- <section class="typecard">
                        <i class="fa fa-square red tiny" aria-hidden="true"></i>
                        <small class="tiny cap">35'</small>
                        <small class="tiny cap">geoarge striker</small>
                    </section>
                    <section class="typegoal">
                        <i class="fa fa-soccer-ball tiny"></i>
                        <small class="tiny cap">35'</small>
                        <small class="tiny cap">geoarge striker</small>
                    </section> -->
                </div>
                <section id="awaysummary" class="align-right"></section>
            </div>
            <hr class="divider">
            <div class="row flex top-align">
                <section class="column padding-right" id="homelineups">
                </section>
                <section class="column" id="awaylineups">
                </section>
            </div>
        </div>
        <%- include("./games.activity.ejs") %>
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/readers/games.read.js"></script>
    <script type="module" src="/javascripts/creators/activity.create.js"></script>
</body>
