<%- include("./dash.nav.ejs") %>
<body class="">
    <%- include("./dash.bar.ejs") %>
    <main class="mid-main row top-align">
        <aside class="small-pane">
            aside
        </aside>
        <div class="column no-gap small-main">
            <nav class="dates row bg-white tab-nav ">
            </nav>
            <span class="space smal"></span>
            <section class="games-container column small-top">
            </section>
        </div>
    </main>
    <%- include("./dash.foot.ejs") %>
    <script type="module" src="/javascripts/games.dash.js"></script>
</body>
