<!-- Button to open dialog -->
<button class="small-button" data-ui="#phaseDialog">
    <i class="fa fa-plus"></i>
    New Edition
</button>

<!-- Dialog to add phase -->
<dialog class="dialog small" data-ui="phaseDialog">
    <header class="dialog-header">
        <h4 class="large align-center">New Edition</h4>
        <button class="icon-button" id="closeDialog">
            <i class="fa fa-close" data-ui="#phaseDialog"></i>
        </button>
    </header>

    <section class="dialog-content">
        <div id="phaseMsg" class="message align-center"></div> 
        <!-- Success/Error Message -->

        <!-- Hidden input for competition_id -->
        <input type="hidden" id="competition_id" name="competition_id" value="">

        <!-- Form Fields -->
        <section class="row flex">
            <span>
                <label for="season" class="label">Season</label>
                <select name="season" id="phaseSeasons" class="block input  season-selector">
                </select>
            </span>
            <span>
                <label for="team" class="label">Select Team</label>
                <input autocomplete="off" type="text" name="team" id="team" class="block input" placeholder="Enter team name">
                <div id="team-suggestions" class="suggestions" style="display:none;"></div> <!-- Suggestions Container -->
            </span>
        </section>
    </section>

    <footer class="dialog-footer">
        <button type="button" class="button center row" id="savePhase">
            <span>Save Phase</span>
        </button> 
    </footer>
</dialog>
