<div class="column">
    <a href="/teams/id" class="link-card bg-white border small-round row small-padding">
        <img src="/images/grand_kru_flag.png" alt="" class="lg-logo squard-img">
        <section class="column no-gap max">
            <h4 class="large bold">The Team Name</h4>
            <small class="dark-gray tiny">Group: B</small>
        </section>
    </a>
</div>