<div class="border small-round bg-white small-padding small-pane" id="competition-list">
    <h6 class="small bold navy"> Competitions </h6>
    <hr class="divider">

    <section id="competitions" class="column"></section>
    <hr class="divider">
    <section id="tournaments" class="column">
        <a href="/tournaments/" class="side-tab small-round bg-gray row tiny-padding cap">
            <img src="/images/county_meet.png" class="sm-logo small-round" alt="">  
            <small class="tiny bold black" title="Annual National County Meet">National County Meet</small>
        </a>
    </section>

</div>