<div class="border small-round bg-white small-padding" id="competition-list">
    <h6 class="small bold navy"> Competitions </h6>
    <hr class="divider">

    <section id="competitions"></section>
</div>