<%- include("./head.ui.ejs") %>
<body class="bg-rose">
    <%- include("./nav.ui.ejs") %>
    <span class="space"></span>
    <main class="mid-main row top-align">
        <aside class="small-pane" id="sidebar" data-modal="sidebar">
            <%- include("./sidebar.ui.ejs") %>
        </aside>
        <div class="column no-gap small-main">
           <div class="bg-white small-border">
            <header class="tiny row small-padding bg-green">
                <span class="row">
                    <img src="/images/county_meet_new.png" alt="" class="mid-logo">
                    <h3 class="large bold">National County Meet</h3>
                </span>
                <select name="years" class="small-select move-right">
                    <option>Filter by year</option>
                    <option value="2023">2024</option>
                    <option value="2023">2024</option>
                </select>
            </header>
            <hr class="divider no-space">
            <nav class="row small-padding">
                <button class="tab-btn link-btn" >Overviews</button>
                <button class="link-btn small-button round grey">Standings</button>
            </nav>
           </div>
            <span class="space small"></span>
            
        </div>
    </main>
    <%- include("./foot.ui.ejs") %>
</body>

