<%- include("./partial/head") %>
<body class="no-overflow">
    <%- include("./partial/top-nav.ejs") %>
    
    <div class="container row constraint">
        <%- include("./partial/sidebar") %>
        <div class="column max">
            <%- include("./partial/league-tabs") %>
            <div id="l2" class="league-container column ">
                <center id="loader">
                    <div class="margin loader" ></div>
                </center>
            </div>
        </div>
    </div>
    <script type="module" src="/javascripts/jquery.js"></script>
    <script type="module" src="/javascripts/county-meet.js"></script>
</body>
