<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %> 
    <div class="column max">
        <header class="bg-gray border row margin-top margin-bottom small-padding small-round">
            <img src="/images/county_meet.png" alt="County Meet" class="mid-logo">
            <h3 class="large bold">County Meet 2025</h3>
            <p class="move-right"><i class="fa-solid fa-calendar-days"></i> Select Year</p>
        </header>
    <section class="tab-container row padding">
        <a href="/county_meet"><button class="chip active">Standings</button></a>
        <button class="chip">Results</button>
        <button class="chip">Fixture</button>
        <button class="chip">Statistics</button>
    </section>
    <!-- DOSSO: WRITE YOUR CODE HERE... -->
        <div class="box padding bg-white">
            <table>
                <p class="align-center large">Group A</p>
            <thead>
                <tr>
                    <th class="first">Team</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>G/A</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="first">Fassell FC</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="first">Paynesville FC</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="first">Freeport FC</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="first">Watanga FC</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
 </div>
