<%- include("./partial/head") %>
<body class="no-overflow">
    <%- include("./partial/top-nav.ejs") %>
    
    <div class="container row constraint">
        <%- include("./partial/sidebar") %>
        <div class="column max">
            <header class="bg-gray border row margin-bottom small-padding small-round">
                <img src="/images/county_meet.png" alt="County Meet" class="mid-logo">
                <h3 class="large bold">County Meet 2025</h3>
                <select id="year" name="year" class="chip move-right no-border">
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <!-- Add more years as needed -->
                </select>
    
            </header>
            <%- include("./partial/league-tabs") %>
    
            <div id="l2" class="league-container column ">
                <center id="loader">
                    <div class="margin loader" ></div>
                </center>
            </div>
        </div>
    </div>
</body>
