<%- include("./dashboard/dash.nav.ejs") %>
<body>
    <a href="/dashboard/clubs">Clubs</a>
    <a href="/dashboard/competitions">competition</a>
    <h1>welcome to dashbaord</h1>
    <%- include("./dashboard/dash.foot.ejs") %>
</body>