<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/league-header") %>
        <section class="tab-container row padding-top padding-bottom">
            <a href="/first_division/?tab=standings" class="chip active">Standings</a>
            <a href="/first_division/?tab=results" class="chip">Results</a>
            <a href="/first_division/?tab=fixtures" class="chip">Fixture</a>
            <a href="/first_division/?tab=statistic" class="chip">Statistic</a>
        </section>
        <table>
        <thead>
            <tr>
                <th class="first">Team</th>
                <th>GP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>G/A</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first">Fassell FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Paynesville FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Freeport FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="first">Watanga FC</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>