<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row ">
    <%- include("./partial/sidebar") %>
    <div class="column full max padding">
        <%- include("./partial/tabs") %>
           
        <div id="l1" class="league-container column spacing full-height">
            <center id="loader"><div class="margin loader"></div></center>
        </div>
        <div id="l2" class="league-container column spacing">
            <center id="loader"><div class="margin loader"></div></center>
        </div>
        <div id="l3" class="league-container column spacing">
            <center id="loader"><div class="margin loader"></div></center>
        </div>
</div>
</div>
</div>


<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/fetch.js"></script>