<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>



<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max padding">
        <%- include("./partial/tabs") %>
                 
    <div id="league_one">
        <div class="column spacing" id="l1_scores">
            
        </div>
    </div>
</div>
</div>
</div>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/index.view.js"></script>