<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>



<div class="container row">
    <%- include("./partial/sidebar") %>
    <section class="tab-container row">
        <a href="/"><button class="chip active">All</button></a>
        <a href="/live"><button class="chip">Live</button></a>
        <button class="chip">Results</button>
        <button class="chip">Fixtures</button>
        <button class="chip move-right">Time</button>
    </section>
</div>