<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <section class="padding box border row">
        <img src="/images/league_1.png" class="mid-logo"  alt="">
        <div class="max column"><h1>Orange First Division League</h1><h4 class="muted">2024/2025</h4></div>
        
    </section>
</div>