<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <%- include("./partial/tabs") %>
        <section class="">
            <a href="/first_division" class="bg-gray  row margin-top margin-bottom  small-round">
                <img src="/images/league_1.png" alt="" class="sm-logo margin-left round">
                <h3 class="large bold">Orange First Division League</h3>
                <i class="fa-solid fa-chevron-right move-right margin-right"></i>
                </a>
            <!-- IKEL: WRITE YOU CODE HERE -->
             <div class="column spacing">
                <section class="box row padding matches">
                    <h3 class="red margin-right">43'</h3>
                    <section class="column max">
                        <span class="row">
                            <img src="/images/watanga_logo.png" alt="" class="sm-logo">
                            <h3 class="bold max">Watanga</h3>
                            <h3 class="red">1</h3>
                        </span>
                        <span class="row">
                            <img src="/images/liscr_logo.png" alt="" class="sm-logo">
                            <h3 class="bold max">LISCR</h3>
                            <h3 class="red">0</h3>
                        </span>
                    </section>

                </section>
                <section class="box row padding matches">
                    <h3 class="red margin-right">HT</h3>
                    <section class="column max">
                        <span class="row">
                            <img src="/images/fassell_logo.png" alt="" class="sm-logo">
                            <h3 class="bold max">Fassell FC</h3>
                            <h3 class="red">2</h3>
                        </span>
                        <span class="row">
                            <img src="/images/lprc_logo.png" alt="" class="sm-logo">
                            <h3 class="bold max">LPRC Oilers</h3>
                            <h3 class="red">1</h3>
                        </span>
                    </section>

                </section>
                <section class="box row padding matches">
                    <h3 class="red margin-right">67'</h3>
                    <section class="column max">
                        <span class="row">
                            <img src="/images/Paynesville_FC-removebg-preview.png" alt="" class="sm-logo">
                            <h3 class="bold max">Paynesville FC</h3>
                            <h3 class="red">0</h3>
                        </span>
                        <span class="row">
                            <img src="/images/Invincible_Eleven-removebg-preview.png" alt="" class="sm-logo">
                            <h3 class="bold max">Invincible Eleven</h3>
                            <h3 class="red">1</h3>
                        </span>
                    </section>

                </section>
                <section class="box row padding matches">
                    <h3 class="red margin-right">89'</h3>
                    <section class="column max">
                        <span class="row">
                            <img src="/images/Heaven_Eleven-removebg-preview.png" alt="" class="sm-logo">
                            <h3 class="bold max">Heaven Eleven</h3>
                            <h3 class="red">3</h3>
                        </span>
                        <span class="row">
                            <img src="/images/Shaita fc.jpg" alt="" class="sm-logo">
                            <h3 class="bold max">Shaita FC</h3>
                            <h3 class="red">2</h3>
                        </span>
                    </section>

                </section>
             </div>
             
        </section>
    </div>
</div>