<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div>
    <section class="tab-container">
        <button class="chip active">All</button>
        <button class="chip">Live</button>
        <button class="chip">Results</button>
        <button class="chip move-right">Fixtures</button>
    </section>
</div>