<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <div class="sidebar mid-round border">sidebar</div>
    <div class="column">
        <section class="tab-container row margin-bottom">
            <button class="chip active">All</button>
            <button class="chip">Live</button>
            <button class="chip">Results</button>
            <button class="chip">Fixtures</button>
            <button class="chip move-right">Time</button>
        </section>
        <div class="column gap">
            <header class="header-score row gray small-padding bg-gray mid-round">
                <img class="mid-logo" src="/images/league_1.png" alt="">
                <span class="max">
                    <h1 class="large">Orange First Division League</h1>
                </span>
                <span class="header-icon">x</span>
            </header>
            <section class="box card-score row">
                <h3 class="red margin-right">89'</h3>
                <section class="column max">
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/watanga_logo.png" alt="">
                        <h3 class="max">Watanga FC</h3>
                        <h3 class="red">1</h3>
                    </span>
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/fassell_logo.png" alt="">
                        <h3 class="max">FC Fassell</h3>
                        <h3 class="red">1</h3>
                    </span>
                </section>
            </section>
            <section class="box card-score row">
                <h3 class="black margin-right">FT</h3>
                <section class="column max">
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/watanga_logo.png" alt="">
                        <h3 class="max">Paynesville FC</h3>
                        <h3 class="black">1</h3>
                    </span>
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/bea_logo.png" alt="">
                        <h3 class="max">BEA Mountain</h3>
                        <h3 class="black">1</h3>
                    </span>
                </section>
            </section>
            <section class="box card-score row">
                <h3 class="black margin-right">3:00</h3>
                <section class="column max">
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/lprc_logo.png" alt="">
                        <h3 class="max">LPRC FC</h3>
                        <h3 class="black">1</h3>
                    </span>
                    <span class="row between">
                        <img class="sm-logo margin-right" src="/images/liscr_logo.png" alt="">
                        <h3 class="max">LISCR FC</h3>
                        <h3 class="black">1</h3>
                    </span>
                </section>
            </section>
        </div>
    </div>
</div>