<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <div class="sidebar mid-round border">sidebar</div>
    <section class="tab-container row">
        <button class="chip active">All</button>
        <button class="chip">Live</button>
        <button class="chip">Results</button>
        <button class="chip">Fixtures</button>
        <button class="chip move-right">Time</button>
    </section>
</div>