
<%- include("./partial/head") %>
<body class="no-overflow">
    <%- include("./partial/top-nav.ejs") %>
    <div class="container center">
        <form method="post" action="/v1/api/login" class="border box padding small-round small-box column">
            <h1 class="huge border-bottom align-center">Login</h1>
    
            <label for="email" class="label bold">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter your Email" class="form-input large-input" required>
            
            <label for="password" class="label bold">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required class="form-input large-input">

            <small class="small error" id="errorMsg">Email or password incorrect. Try again.</small>
    
            <button  class="button large center" id="loginBtn">
                <div id="loader"></div> 
                <p id="text">Log in</p>
            </button>
    
            <span>
                <p class="margin-top">You don't have an account?
                
                <a class="bold link" href="https://docs.google.com/forms/d/e/1FAIpQLScq4_j1NquFzSMxXI5Qu7iyj0gMVcULoNDcZAOpJSIm18kfRg/viewform?usp=pp_url" target="_blank" > Register now </a>
            </p>
            </span>
        </form>
</div>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/login.js"></script>
</body>