<%- include("./partial/head") %>
<%- include("./partial/top-nav") %>



<div class="container bg-white"> 
    <p class="align-center"> Liberia- Orange First Division League</p><br>
    <div class="center-align row big-left">
        <div class="float-left bg-white border match-logo">
            <img src="/images/watanga_logo.png" alt="" class="center">
            <p class="padding align-center">Watanga FC</p>
        </div>
        <div>
            <p class="margin-top">06.09.2024 02:00</p>
            <p class="center margin-top" style="font-size: 48px;">0 - 3</p>
        </div>
        <div class=" bg-white border match-logo">
            <img src="/images/fassell_logo.png" alt="" class="center">
            <p class="padding align-center">Fassell FC</p>
        </div>

    </div>
    <div class="container margin-top big-top">
        <section class="row margin-bottom" id="summary">
            <a href="#summary" class="chip active">SUMMARY</a>
            <a href="#lineups" class="chip">LINEUPS</a>
        </section>
        
        <div class="row margin-right">
            <div class="home-team move-left">
                <p class="row margin-bottom"><span class="timer center-align">32'</span><img src="/images/sub.jfif" alt="" class="sm-logo">Emmanuel J. <span class="gray">Peter T.</span></p>
                <p class="row margin-bottom"><span class="timer center-align">46'</span><img src="/images/yellow_card.png" alt="" class="sm-logo">Souleymane</p>
                <p class="row margin-bottom"><span class="timer center-align">87'</span><img src="/images/sub.jfif" alt="" class="sm-logo">Tidiane <span class="gray">Rogers</span></p>
            </div>   
            
            <div class="away-team">
                <p class="row margin-bottom"><span class="timer center-align">46'</span><img src="/images/yellow_card.png" alt="" class="sm-logo">Dosso</p>
                <p class="row margin-bottom"><span class="timer center-align">88'</span><img src="/images/red_card.png" alt="" class="sm-logo">Dosso</p>
            </div>
        </div>

        <div class="margin-right big-top">
            <p class="row between">Venue: <span class="move-right">TUSA Field</span></p>
            <p class="row between">Capacity: <span class="move-right">1,500</span></p>
        </div>
    <section class="row margin-bottom big-top" id="lineups">
        <a href="#summary" class="chip">SUMMARY</a>
        <a href="#lineups" class="chip active">LINEUPS</a>
    </section>
        <p class="align-center bold bg-gray margin-right small-round margin-bottom">STARTING LINEUPS</p>
    <div class="row margin-right">
        <div class="home-team move-left">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
        </div>

        <div class="away-team">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
        </div>
    </div>
    <p class="align-center bold bg-gray margin-right small-round margin-bottom margin-top">SUBSTITUTES</p>
    <div class="row margin-right">
        <div class="home-team move-left">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
        </div>

        <div class="away-team">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
        </div>
    </div>
</div>