<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="container row">
    <%- include("./partial/sidebar") %>
    <div class="column full max">
        <section class="tab-container row padding">
            <a href="/second_division"><button class="chip active">Fixtues</button></a>
            <a href="/second_division_results"><button class="chip">Results</button></a>
            <a href="/second_division_standings"><button class="chip">Standings</button></a>
        </section>  
    </div>
</div>