<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="center">
    <!-- Terryson: write code here -->
</div>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/signup.js"></script>
