<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

    <!-- Terryson: write code here -->
    <div class="pop border bg-white padding box huge-elevate">
        <div class="align-center">
            <h1 class="huge margin-bottom">Login</h1>
        <form action="/login" method="POST" class="column spacing">
            
            <input type="email" name="email" placeholder="Enter your Email" class=" form-input small-padding border" required>

            <input type="password" name="password" placeholder="Enter your password" required class=" form-input small-padding border">

            <button type="submit" class="form-input button margin-top" >Login</button>

            <p class="margin-top">
                You don't have an account? 
                <br/>
                <a class="bold" href="https://docs.google.com/forms/d/e/1FAIpQLScq4_j1NquFzSMxXI5Qu7iyj0gMVcULoNDcZAOpJSIm18kfRg/viewform?usp=pp_url" >
                    Register now
                </a>
            </p>
        </form>
        </div>
    </div>
