<%- include("./partial/head") %>
<%- include("./partial/top-nav.ejs") %>

<div class="center">
    <!-- Terryson: write code here -->
    <div class="login-container border bg-white padding box">
        <h1 class="huge align-center margin-bottom">Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Enter your Email " class="margin-bottom" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit" class="button primary margin-top">Login</button>
            <p class="margin-top">you don't have an account?</p>
            <a href="" class="align-center bold" >Register now</a>
        </form>
</div>
<script type="module" src="/javascripts/jquery.js"></script>
<script type="module" src="/javascripts/signup.js"></script>
