<%- include("./partial/head") %>
<%- include("./partial/top-nav") %>

<div class="container row">
    <div class="bg-gray mid-round border padding">
        <img src="/images/bea_logo_lg.png" alt="">
    </div>
    <div class="max">
        <%- include("./partial/team-tabs.ejs") %>

        <div>
          <h3>Goalkeeper</h3>
          <div class="row">
            <!-- Ikel: write code here -->
            
            <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
            <p>Tommy Sango <br><span class="gray">29 years</span></p>
              
          </div>
          <div class="row">
            <!-- Ikel: write code here -->
            
            <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
            <p>Tommy Sango <br><span class="gray">29 years</span></p>
              
          </div>
         
        </div>
        <div>
          <p>Defender</p>
          <div class="row">
            <!-- Ikel: write code here -->
            
            <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
            <p>Josephus Mantor <br><span class="gray">25 years</span></p>
              
          </div>
          <div class="row">
            <!-- Ikel: write code here -->
            
            <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
            <p>Josephus Mantor <br><span class="gray">27 years</span></p>
              
          </div>
          <div class="row">
            <!-- Ikel: write code here -->
            
            <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
            <p>Josephus Mantor <br><span class="gray">24 years</span></p>
              
          </div>
        </div>
       <br>
       <div>
        <P>Midfield</P>
        <div class="row">
          <!-- Ikel: write code here -->
          
          <img src="/images/Heaven_Eleven.png" alt="" class="sm-logo round">
          <p>Josephus Mantor <br><span class="gray">24 years</span></p>
            
        </div>
       </div>
      
    </div>
</div>