<%- include("./partial/head") %>
<%- include("./partial/top-nav") %>

<div class="container row">
    <div class="bg-gray mid-round border padding">
        <img src="/images/bea_logo_lg.png" alt="">
    </div>
    <div class="max">
        <%- include("./partial/team-tabs.ejs") %>
      <div>
        <!-- Ikel: write code here -->
      </div>
    </div>
</div>