<%- include("./partial/head") %>
<%- include("./partial/top-nav") %>

<div class="container row">
    <div class="bg-gray mid-round border padding">
        <img src="/images/bea_logo_lg.png" alt="">
    </div>
    <div class="max">
        <%- include("./partial/team-tabs.ejs") %>
        <section>
            <h1 class="huge ">BEA Mountain FC</h1>
            <p class="font-large">The BEA Mountain Football Club is a Liberian football club . The club is based in the capital city of Monrovia . The club currently plays in the country's first league, the First Division. <a href="www.wikipedia/wiki">Learn More</a>
            </p>
            <span class="space"></span>
            <span class="row large">
                <p class="max">Head Coach: </p> 
                <h3>Jane N. Doe</h3>
            </span>
            <span class="row large">
                <p class="max">League Position: </p> 
                <h3>2</h3>
            </span>
            <span class="row large">
                <p class="max">Stadium: </p> 
                <h3>Samuel K. Doe</h3>
            </span>
            <span class="row large">
                <p class="max">Capacity: </p> 
                <h3>15,000</h3>
            </span>
        </section>
    </div>
</div>