

<section class="row between">
    <h4 class="large small-padding">All Editions</h4>
    <button data-ui="#editionDialog" class="chip">
        <i class="fa fa-plus"></i> New Edition
    </button>
</section>
<dialog class="dialog" data-ui="editionDialog">
    <header class="dialog-header">
        <h4 class="large align-center">Create Editions</h4>
        <button class="icon-button">
            <i class="fa fa-close" data-ui="#editionDialog"></i>
        </button>
    </header>

    <section class="dialog-content">
        <span class="row flex">
                <span>
                    <label for="edition" class="label">County Meet Edition</label>
                    <input name="edition" id="edition" class="block input">
                </span>
                <span>
                    <label for="editionHost" class="label">Host County</label>
                    <select name="editionHost" id="editionHost" class="block input">
                    </select>
                </span>
        </span>
        
        <section class="row flex">
            <span class="column no-gap">
                <label for="edition" class="label block">Start Date</label>
                <input type="date" name="editionStart" id="editionStart" class="input block">
            </span>
            <span class="column no-gap">
                <label for="edition" class="label block">End Date</label>
                <input type="date" name="editionEnd" id="editionEnd" class="input block">
            </span>
        </section>
    </section>
    
    <footer class="dialog-footer">
        <button class="button move-right" id="saveEdition">Save Edition</button>
    </footer>
</dialog>