 
            <h4 class="large align-center small-padding sticky light-gray">New County Meet Editions</h4>
            <section class="padding">

                <span class="row flex">
                    <span>
                        <label for="edition" class="label">County Meet Edition</label>
                        <select name="edition" id="edition" class="block input">
                        </select>
                    </span>
                    <span>
                        <label for="editionHost" class="label">Host County</label>
                        <select name="editionHost" id="editionHost" class="block input">
                        </select>
                    </span>
                </span>


                <section class="row flex">
                    <span class="column no-gap">
                        <label for="edition" class="label block">Start Date</label>
                        <input type="date" name="editionStart" id="editionStart" class="input block">
                    </span>
                    <span class="column no-gap">
                        <label for="edition" class="label block">End Date</label>
                        <input type="date" name="editionEnd" id="editionEnd" class="input block">
                    </span>
                </section>

                
                <button class="button margin-top" id="saveEdition">Save Edition</button>
            </section>

            <section class="border-top">
                <!-- <h4 class="large align-center small-padding border-bottom">All Editions</h4> -->
                <div id="editionList" class="padding column">
                  
                </div>
            </section>