

<button data-ui="#groupDialog" class="chip">
    <i class="fa fa-plus"></i> Add New Group   
</button>

<dialog class="dialog" data-ui="groupDialog">
    <header class="dialog-header">
        <h1 class="large small-padding max">New Grouping</h1>
        <button class="icon-button">
            <i class="fa fa-close" data-ui="#groupDialog"></i>
        </button>
    </header>

  <div class="dialog-content">
    
        <label class="label" for="leagueEditions">Select Edition</label>
        <select name="leagueEditions" id="leagueEditions" class="block input">
        </select>
    
        <section class="row flex">
            <span>
                <label class="label" for="counties">Team</label>
                <select name="counties" id="counties" class="block input">
                </select>
            </span>
            <span>
                <label class="label" for="group">Group</label>
                <select name="group" id="group" class="block input">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select>
            </span>
        </section>

    </div>

    <footer class="dialog-footer ">
        <button class="button move-right" id="saveMatch">Save Group</button>
    </footer>

</dialog>