

<section class="row between">
    <h4 class="large small-padding">Matches Lineup</h4>
    <button data-ui="#lineupDialog" class="chip">
        <i class="fa fa-plus"></i> Add Lineup
    </button>
</section>
<dialog class="dialog" data-ui="lineupDialog">
    <header class="dialog-header">
        <h4 class="large align-center">Add Game Lineup</h4>
        <button class="icon-button">
            <i class="fa fa-close" data-ui="#lineupDialog"></i>
        </button>
    </header>

    <section class="dialog-content">
        <span class="row flex">
            <span>
                <label for="match" class="label">Match</label>
                <select name="match" id="match" class="block input">
                </select>
            </span>
            <span class="column no-gap">
                <label for="counties" class="label block">Team</label>
                <select name="team" id="counties" class="block input">
                </select>
            </span>
        </span>
        
        <section class="row flex">
            <span class="column no-gap">
                <label for="player" class="label block">Player</label>
                <select name="player" id="player" class="block input">
                </select>
            </span>
            <span class="column no-gap">
                <label for="number" class="label block">Number</label>
                <input type="number" name="number" id="number" class="input block">
            </span>
        </section>
    </section>
    
    <footer class="dialog-footer">
        <button class="button move-right" id="saveLineup">Save Edition</button>
    </footer>
</dialog>