<%- include("../../partial/head") %>
<body class="column no-gap">
    <%- include("../admin-nav") %>
    <main class="max">
        <div class="small-container full-height">
            <%- include("./tab.cm.ejs") %>
            <%- include("./lineup.dialog.ejs") %>
            
            <div id="lineupList" class="padding column">
            </div>
        </div>
    </main>
    <script type="module" src="/javascripts/jquery.js"></script>
    <script type="module" src="/javascripts/dialog.js"></script>
    <script type="module" src="/javascripts/lineup.cm.js"></script>
</body>