<!-- Button that triggers the dialog -->
<div class="row">
    <%- include("./match.dialog.ejs") %>
    <button class="chip"><i class="fa fa-plus margin-right"></i>  Lineup </button>
    <button class="chip"><i class="fa fa-plus margin-right"></i>  Goals </button>
</div>
<section id="matchList" class="column margin-top">
</section>
<div id="snackbar">Match added successfully!</div>
