<!-- Button that triggers the dialog -->
<div class="row">
    <%- include("./match.dialog.ejs") %>
    <button class="button secondary round"><i class="fa fa-plus"></i> Substitution</button>
    <button class="button secondary round"><i class="fa fa-plus"></i> Goals</button>
    <button class="button secondary round"><i class="fa fa-plus"></i> Cards</button>
    <button class="button secondary round"><i class="fa fa-plus"></i> Corner</button>
</div>
<section id="matchList" class="column margin-top">
</section>
<div id="snackbar">Match added successfully!</div>
