

<section class="row between">
    <h4 class="large small-padding">All Players</h4>
    <button data-ui="#playerDialog" class="chip">
        <i class="fa fa-plus"></i> New Player
    </button>
</section>
<dialog class="dialog small" data-ui="playerDialog">
    <header class="dialog-header">
        <h4 class="large align-center">Add New Player</h4>
        <button class="icon-button">
            <i class="fa fa-close" data-ui="#playerDialog"></i>
        </button>
    </header>

    <section class="dialog-content">
        <span class="row flex">
                <span>
                    <label for="editionHost" class="label">County</label>
                    <select name="editionHost" id="editionHost" class="block input" required>
                    </select>
                </span>
                <span class="column no-gap">
                    <label for="firstName" class="label block">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="input block" required>
                </span>
        </span>
        
        <section class="row flex">
            <span class="column no-gap">
                <label for="middleName" class="label block">Middle Name</label>
                <input type="text" name="middleName" id="middleName" class="input block" required>
            </span>
            <span class="column no-gap">
                <label for="lastName" class="label block">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="input block" required>
            </span>
           
        </section>
        <section class="row flex">
            <span class="column no-gap">
                <label for="photo" class="label block">Photo</label>
                <input type="file" name="photo" id="photo" class="input block" required>
            </span>
            <span class="column no-gap">
                <label for="DOB" class="label block">Date of Birth</label>
                <input type="date" name="DOB" id="DOB" class="input block" required>
            </span>
        </section>
    </section>
    
    <footer class="dialog-footer">
        <button class="button move-right" id="saveEdition">Save Player</button>
    </footer>
</dialog>