<nav class="btn-group">
    <a href="/admin/cm" class="<%= page == 'cm' ? 'active' : ''%>">Matches</a>
    <a href="/admin/cm/players" class="<%= page == 'players' ? 'active' : '' %>">Players</a>
    <a href="/admin/cm/groups" class="<%= page == 'groups' ? 'active' : '' %>">Groups</a>
    <a href="/admin/cm/editions" class="<%= page == 'editions' ? 'active' : '' %>">Editions</a>
</nav>