<nav class="btn-group">
    <a href="/admin/cm" class="active">Matches</a>
    <a href="/admin/cm/editions">Editions</a>
    <a href="/admin/cm/subs">Substitutions</a>
    <a href="/admin/cm/cards">Cards</a>
</nav>