<nav class="btn-group">
    <a href="/admin/cm/matches" class="active">Matches</a>
    <a href="/admin/cm/edition">Editions</a>
    <a href="/admin/cm/subs">Substitutions</a>
    <a href="/admin/cm/cards">Cards</a>
</nav>