/**
 * @file component.css
 * 
 * This CSS file defines styling for small UI components like chips, sidebars, navigation elements, 
 * and buttons. It includes layout specifications, component interaction states, and design guidelines 
 * for icons, containers, and logos, as well as common utilities like flexbox alignment and spacing. 
 * The file is structured for consistent and reusable component styling across a user interface.
 */

/* Small tab component */
.chip {
    display: flex; /* Apply flexbox layout to the chip */
    align-items: center; /* Center align items vertically */
    background-color: var(--dark-gray); /* Set background color for the chip */
    border-radius: var(--round-md); /* Apply medium border radius */
    color: var(--black); /* Set text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: var(--small); /* Set font size to medium */
    min-width: 38px; /* Minimum width for the chip */
    padding: var(--spacing-sm) var(--spacing-lg); /* Apply horizontal padding */
    gap: var(--space-sm); /* Set space between flex children */
    text-align: center; /* Align text to center */
    font-weight: bold;
}

.chip.active, .chip:hover {
    background-color: var(--crimson); /* Set background color for active/hover state */
    color: white; /* Set text color to white */
}

.chip-active a{
    color: white;
}

/* Label styling */
.label {
    display: block; /* Make the label a block element */
    margin-bottom: 4px; /* Add space below the label */
    font-weight: bold; /* Make the text bold */
    color: var(--midnight); /* Set label text color */
}

/* Sidebar component */
.sidebar {
    width: 278px; /* Set sidebar width */
    max-height: 84vh; /* Set maximum height of sidebar */
    min-height: 84vh; /* Set minimum height of sidebar */
    background-color: white; /* Set background color to white */
    border: thin solid var(--dark-gray); /* Apply border with dark gray color */
    border-radius: var(--round-md); /* Apply medium border radius */
}

.sidebar .header img {
    max-width: 2.5rem; /* Set max width for header image */
    margin-left: 20px; /* Add left margin to image */
}

.sidebar .header {
    font-size: var(--large); /* Set large font size */
    font-weight: bolder; /* Make header text bolder */
    text-align: center; /* Align text to center */
}

.sidebar .list {
    gap: var(--spacing-sm); /* Set space between list items */
    padding-left: var(--spacing-sm); /* Add left padding */
    padding-right: var(--spacing-sm); /* Add right padding */
}

.sidebar .item {
    padding: var(--spacing-sm); /* Apply padding to list items */
    background-color: var(--light-gray); /* Set background color for list items */
    border-radius: var(--round-md); /* Apply medium border radius */
    font-size: var(--small); /* Set small font size */
    color: var(--black); /* Set text color to black */
    display: flex; /* Apply flexbox layout to items */
    align-items: center; /* Center align items vertically */
    gap: var(--spacing-sm); /* Set space between flex children */
    font-weight: bold;
    height: 48px;
}

.sidebar .item:hover, .sidebar .item.active {
    background-color: var(--crimson); /* Change background color on hover/active */
    color: white; /* Change text color to white */
    font-weight: bold; /* Make text bold */
}

.sidebar .item img {
    display: inline-block; /* Display image inline-block */
    width: 28px; /* Set image width */
    height: 28px; /* Set image height */
    border: solid thin white; /* Apply white border */
    border-radius: 50%; /* Make image circular */
}

/* Navigation bar styling */
.nav {
    background-color: var(--navy-blue); /* Set background color to navy blue */
    color: white; /* Set text color to white */
}

.nav .logo {
    width: 150px; /* Set width for logo */
}

/* Button styles */
.link-button {
    padding: var(--spacing-sm); /* Apply padding */
    color: white; /* Set text color to white */
    background-color: var(--dark-blue); /* Set background color to dark blue */
    border-radius: var(--round-md); /* Apply medium border radius */
}

.icon-button {
    width: 38px; /* Set width for icon button */
    height: 38px; /* Set height for icon button */
    border-radius: var(--round-md); /* Apply medium border radius */
    display: grid; /* Use grid layout */
    place-items: center; /* Center icon within the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Full viewport container */
.container {
    width: 950px; /* Set container width */
    margin: 0 auto; /* Center container horizontally */
    min-height: 95vh; /* Set minimum height */
    align-items: flex-start; /* Align items to start */
    padding: var(--spacing-md); /* Apply padding */
}

.pop {
    width: 450px; /* Set container width */
    margin: 0 auto; /* Center container horizontally */
    height: 450px; /* Set minimum height */
    align-items: flex-start; /* Align items to start */
    padding: var(--spacing-md); /* Apply padding */
}

/* Centered layout with constraint */
.constrant {
    width: 900px; /* Set width */
    max-height: 400px; /* Set maximum height */
    margin: 0 auto; /* Center element horizontally */
}

.box {
    background-color: var(--white); /* Set background color to white */
    border-radius: var(--round-md); /* Apply medium border radius */
    min-height: 58px; /* Set minimum height */
    min-width: inherit; /* Set minimum width */
}

/* Logo sizes */
.xs-logo {
    width: 20px; /* Set width for small logo */
    height: 20px; /* Set width for small logo */
}
.sm-logo {
    width: 28px; /* Set width for small logo */
    height: 28px; /* Set width for small logo */
}

.mid-logo {
    width: 38px; /* Set width for medium logo */
    height: 38px; /* Set height for medium logo */
    border-radius: 50%; /* Make logo circular */
}

.lg-logo {
    width: 64px; /* Set width for large logo */
    height: 64px; /* Set height for large logo */
    border-radius: 50%; /* Make logo circular */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
    background-color: #f4f4f4;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

table, th, td {
    border: unset;
}

.th {
    background-color: transparent;
    border-bottom: 1px solid var(--light-gray);
    text-align: left;
    color: var(--misty);
    text-transform: uppercase;
}

.th, .td {
    padding: var(--spacing-sm);
    font-size: var(--small);
}

.first{
    width: 200px;
}

.lead {
    border-left: 4px solid var(--green);
}

.dead {
    border-left: 4px solid var(--red);
}



.match-logo {
    width: 150px;
    height: 150px;
}

.big-left{
    margin-left: 25%;
}

.big-top{
    margin-top: 100px;
}
.tiny-logo {
    width: 28px;
    /* height: 150px; */
}


  /* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:spin 1s infinite steps(10);
  }
  @keyframes spin {to{transform: rotate(1turn)}}
