/* Small tab component */
.chip {
    display: flex;
    align-items: center; /* Center align items */
    /* TODO CHANAGE BG TO MOCKBG */
    background-color: var(--dark-gray); /* Set mist background color */
    border-radius: var(--round-md); /* Apply border radius */
    color: var(--black); /* Set text color to slate */
    cursor: pointer; /* Change cursor to pointer */
    font-size: var(--mid); /* Set font size to small */
    min-width: 38px;
    padding:  0 var(--spacing-md); /* Apply horizontal padding */
    gap: var(--space-sm);
    text-align: center;

}

.chip.active, .chip:hover {
    background-color: var(--crimson);
    color: white;
}


/* Label */
.label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: var(--midnight);
  }
  


/* COMPONENT FOR SIDEBAR COMPONENT*/
.sidebar {
    width: 278px;
    max-height: 84vh;
    min-height: 84vh;
    background-color: white;
    border: thin solid var(--dark-gray);
    border-radius: var(--round-md);
}

.sidebar .header {
    font-size: var(--large);
    font-weight: bolder;
    text-align: center;
}

.sidebar .list {
    gap: var(--spacing-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
}

.sidebar .item {
    padding: var(--spacing-sm);
    background-color: var(--light-gray);
    border-radius: var(--round-md);
    font-size: var(--small);
    color: var(--black);
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.sidebar .item:hover, .sidebar .item.active {
    background-color: var(--crimson);
    color: white;
    font-weight: bold;
}


.sidebar .item img {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: solid thin white;
    border-radius: 50%;
}

.nav {
    background-color: var(--navy-blue);
    color: white;
}

.nav .logo {
    width: 150px;
}
/* buttons */
.link-button {
    /* height: 38px; */
    padding: var(--spacing-sm);
    color: white;
    background-color: var(--dark-blue);
    border-radius: var(--round-md);
}

.icon-button {
    width: 38px;
    height: 38px;
    border-radius: var(--round-md);
    display: grid;
    place-items: center;
    cursor: pointer;
}

/* Full viewport container */
.container {
    width: 950px;
    margin: 0 auto;
    min-height: 95vh;
    align-items: flex-start;
    padding: var(--spacing-md);
  }

  
  /* TODO: change to proper cente layout size */
  .constrant {
    width: 900px;
    max-height: 400px;
    margin: 0 auto;
  }

  .box {
    background-color: var(--white);
    border-radius: var(--round-md);
    min-height: 58px;
    padding: var(--spacing-sm);
  }

  .sm-logo {
    width: 20px;
  }

  .mid-logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }