/**
 * @file component.css
 * 
 * This CSS file defines styling for small UI components like chips, sidebars, navigation elements, 
 * and buttons. It includes layout specifications, component interaction states, and design guidelines 
 * for icons, containers, and logos, as well as common utilities like flexbox alignment and spacing. 
 * The file is structured for consistent and reusable component styling across a user interface.
 */

/* Small tab component */
.chip {
    display: flex; /* Apply flexbox layout to the chip */
    align-items: center; /* Center align items vertically */
    background-color: var(--dark-gray); /* Set background color for the chip */
    border-radius: var(--round-md); /* Apply medium border radius */
    color: var(--black); /* Set text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: var(--small); /* Set font size to medium */
    min-width: 38px; /* Minimum width for the chip */
    padding: var(--spacing-sm) var(--spacing-lg); /* Apply horizontal padding */
    gap: var(--space-sm); /* Set space between flex children */
    text-align: center; /* Align text to center */
    font-weight: bold;
}

.chip.active, .chip:hover {
    background-color: var(--crimson); /* Set background color for active/hover state */
    color: white; /* Set text color to white */
}

.chip-active a{
    color: white;
}

/* Label styling */
.label {
    display: block; /* Make the label a block element */
    margin-bottom: 4px; /* Add space below the label */
    font-weight: bold; /* Make the text bold */
    color: var(--midnight); /* Set label text color */
}

/* Sidebar component */
.sidebar {
    width: 278px; /* Set sidebar width */
    max-height: 84vh; /* Set maximum height of sidebar */
    min-height: 84vh; /* Set minimum height of sidebar */
    background-color: white; /* Set background color to white */
}

.sidebar .header img {
    max-width: 2.5rem; /* Set max width for header image */
    margin-left: 20px; /* Add left margin to image */
}

.sidebar .header {
    font-size: var(--large); /* Set large font size */
    font-weight: bolder; /* Make header text bolder */
    text-align: center; /* Align text to center */
}

.sidebar .list {
    gap: var(--spacing-sm); /* Set space between list items */
    padding-left: var(--spacing-sm); /* Add left padding */
    padding-right: var(--spacing-sm); /* Add right padding */
}

.sidebar .item {
    padding: var(--spacing-sm); /* Apply padding to list items */
    background-color: var(--light-gray); /* Set background color for list items */
    border-radius: var(--round-md); /* Apply medium border radius */
    font-size: var(--small); /* Set small font size */
    color: var(--black); /* Set text color to black */
    display: flex; /* Apply flexbox layout to items */
    align-items: center; /* Center align items vertically */
    gap: var(--spacing-sm); /* Set space between flex children */
    font-weight: bold;
    height: 48px;
}

.sidebar .item:hover, .sidebar .item.active {
    background-color: var(--crimson); /* Change background color on hover/active */
    color: white; /* Change text color to white */
    font-weight: bold; /* Make text bold */
}

.sidebar .item img {
    display: inline-block; /* Display image inline-block */
    width: 28px; /* Set image width */
    height: 28px; /* Set image height */
    border: solid thin white; /* Apply white border */
    border-radius: 50%; /* Make image circular */
}

/* Navigation bar styling */
.nav {
    background-color: var(--navy-blue); /* Set background color to navy blue */
    color: white; /* Set text color to white */
}

.nav .logo {
    width: 150px; /* Set width for logo */
}

/* Button styles */
.link-button {
    padding:  var(--spacing-sm) var(--spacing-md); /* Apply padding */
    color: var(--navy-blue); /* Set text color to white */
    border: solid transparent;
}

nav .link-button:hover {
    border-bottom-color: var(--red);
    color: var(--red);
}
nav .link-button.active {
    border-color: var(--red);
    color: var(--red);
}

.icon-button {
    width: 38px; /* Set width for icon button */
    height: 38px; /* Set height for icon button */
    border-radius: var(--round-md); /* Apply medium border radius */
    display: grid; /* Use grid layout */
    place-items: center; /* Center icon within the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Full viewport container */
.container {
    width: 950px; /* Set container width */
    margin: 0 auto; /* Center container horizontally */
    min-height: 95vh; /* Set minimum height */
    align-items: flex-start; /* Align items to start */
    padding: var(--spacing-md); /* Apply padding */
}

.pop {
    width: 500px; /* Set container width */
    margin: 0 auto; /* Center container horizontally */
    height: 450px; /* Set m imum height */
    align-items: flex-start; /* Align items to start */
    padding: var(--spacing-md); /* Apply padding */
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 15%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    z-index: 9000;
}

/* Centered layout with constraint */
.constrant {
    width: 900px; /* Set width */
    max-height: 400px; /* Set maximum height */
    margin: 0 auto; /* Center element horizontally */
}

.box {
    background-color: var(--white); /* Set background color to white */
    border-radius: var(--round-md); /* Apply medium border radius */
    min-height: 58px; /* Set minimum height */
    min-width: inherit; /* Set minimum width */
}

/* Logo sizes */
.xs-logo {
    width: 20px; /* Set width for small logo */
    height: 20px; /* Set width for small logo */
}
.sm-logo {
    width: 28px; /* Set width for small logo */
    height: 28px; /* Set width for small logo */
}

.mid-logo {
    width: 38px; /* Set width for medium logo */
    height: 38px; /* Set height for medium logo */
    border-radius: 50%; /* Make logo circular */
}

.lg-logo {
    width: 64px; /* Set width for large logo */
    height: 64px; /* Set height for large logo */
    border-radius: 50%; /* Make logo circular */
}

.nav-logo {
    width: 28px;
    height: 28px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

table, th, td {
    border: unset;
}

.th {
    background-color: transparent;
    border-bottom: 1px solid var(--light-gray);
    text-align: left;
    color: var(--misty);
    text-transform: uppercase;
}

.th, .td {
    padding: var(--spacing-sm);
    font-size: var(--small);
}

.first{
    width: 200px;
}

.lead {
    border-left: 4px solid var(--green);
}

.dead {
    border-left: 4px solid var(--red);
}

.match-logo {
    width: 150px;
    height: 150px;
}

.big-left{
    margin-left: 25%;
}

.big-top{
    margin-top: 100px;
}
.tiny-logo {
    width: 28px;
    /* height: 150px; */
}

  .dash {
    margin: var(--spacing-lg) 0;
    border-left: 4px solid black;
  }

  .dash.green {
    border-color: var(--green);
  }
  .dash.red {
    border-color: var(--red);
  }
  .dash.gray {
    border-color: var(--misty);
  }

  .loader {
    width: 100%;
    height: 68px;
    background: linear-gradient(90deg, #ebebebbe 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    border-radius: var(--spacing-md);
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .form-input,.input {
    width: 100%;
    height: 48px;
    border-radius: var(--round-sm);
  }

  .form-input:focus {
    outline: unset;
    caret-color: var(--crimson);
  }

  .button {
    background-color: var(--crimson);
    color: var(--white); 
    cursor: pointer;
  }

  .constraint {
    max-height: 75vh;
    overflow-x: auto;
    padding-bottom: 5rem;
    position: relative;
  }

  .avatar {
    width: 28px;
    height: 28px;
    border-radius: var(--round);
    overflow: hidden;
    & > * {
        width: 100%;
    }
  }

