
<section class="row padding-top padding-bottom">
    <a class="chip" href="/<%= page %>?tab=results">Results</a>
    <a  class="chip" href="/<%= page %>?tab=fixtures">Fixtures</a>
    <a class="chip active" href="/<%= page %>?tab=standings">Standings</a>
    <% if (league == "cm") { %>
    <a class="chip" href="/<%= page %>?tab=statistics">Statistics</a>
    <% } %>
 
</section>