<div class="border row max bg-white padding">
    <img src="<%= logo %>" class="lg-logo"  alt="">
    <span>
        <h1 class="large no-line"><%= title %></h1>
        <h4 class="muted">2024/2025</h4>
    </span>
</div>