<section class="box border row max">
    <img src="<%= logo %>" class="lg-logo"  alt="">
    <div class="max column">
        <h1><%= title %></h1>
        <h4 class="muted">2024/2025</h4>
    </div>
</section>