<div class="border row max bg-white tiny-padding mid-round">
    <img src="<%= logo %>" class="lg-logo"  alt="">
    <span>
        <h1 class="large"><%= title %></h1>
        <h4 class="muted bold">2024/2025</h4>
    </span>
</div>