
    <div class="sidebar mid-round border">
        <aside class="sidebar column">
            <header class="header row">
                <img src="/images/lfa_logo.png" alt="Logo">
                <h2 class="padding-bottom mid">Leagues</h2>
            </header>
            <section class="column menu padding">
                <a href="/league" class="item"><img src="/images/league_1.png" alt="League 1">First Division</a>
                <a href="" class="item"> <img src="/images/league_2.jpg" alt="League 2">Second Division</a>
                <a href="" class="item"><img src="/images/women_league.jpg" alt="Women League">Women League</a>
                <a href="" class="item"><img src="/images/county_meet.png" alt="County Meet">County Meet</a>
            </section>
        </aside>
    </div>