<section class="tab-container row">
    <button class="chip active">All</button>
    <button class="chip">Live</button>
    <button class="chip">Results</button>
    <button class="chip">Fixtures</button>
    <button class="chip move-right">Time</button>
</section>