<section class="row margin-bottom">
    <button class="chip active" id="summary">Summary</button>
    <button class="chip" id="matches">Matches</button>
    <button class="chip" id="squad">Squad</button>
</section>

