<nav class="row between nav padding">
    <img class="logo" src="/images/logo.png" alt="Logo">
    <span class="row">
        <button class="icon-button margin-right">
            <img src="/images/search.svg">
        </button>
        <a href="/signup" class="link-button"> + Contribute</a>
    </span>
</nav>