<header>
    <nav class="row between nav padding relative">
        <i class="fas fa-bars menu-toggle" id="mobile-menu"></i>
        <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>

        <span class="row">
            <!-- Update search form to submit to /search -->
            <form action="/search" method="get" class="row">
                <input type="text" name="q" id="search-bar" placeholder="Search teams..." class="form-input padding border" required>
                <button type="submit"><i class="fa-magnifying-glass"></i></button>
            </form>
            <button id="contribute" style="cursor: pointer;"> + Contribute</button>
        </span>
    </nav>
</header>

<!-- Contribute modal -->
<div id="overactive" class="overlay" style="display: none;"></div> <!-- Overlay for contribute modal -->
<div id="contributeButton" class="pop border bg-white padding box huge-elevate" style="display: none;">
    <i class="fa-solid fa-close red large padding" id="closeBtn" style="cursor: pointer;"></i>
    <div class="align-center">
        <h1 class="huge margin-bottom">Login</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter your Email" class="padding border margin-bottom" required>
            <input type="password" name="password" placeholder="Enter your password" required class="padding border margin-bottom">
            <button type="submit" class=" border" style="background-color: red; color: white; cursor: pointer;">Login</button>
            <p class="margin-top">You don't have an account?</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScq4_j1NquFzSMxXI5Qu7iyj0gMVcULoNDcZAOpJSIm18kfRg/viewform?usp=pp_url"><strong><u>Register now</u></strong></a>
        </form>
    </div>
</div>

<ul id="search-results" class="dropdown"></ul>
<script src="/javascripts/pop.js"></script>