<nav class="row between nav padding sticky">
    <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>
    <span class="row">
        <button class="icon-button margin-right">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
        <a href="/signup" class="link-button"> + Contribute</a>
    </span>
</nav>