<header>
    <nav class="row between nav padding relative">
        <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>
        <div class="menu-toggle" ></div>
                <i class="fas fa-bars" id="mobile-menu"></i>
            </div>
        <span class="row">
            <button class="icon-button margin-right" id="openPopup">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="link-button" id="contribute"> + Contribute</button>
        </span>
    </nav>
</header>
<div id="overlay"></div>
<div id="popup" class="pop border bg-white padding box huge-elevate">
    <i class="fa-solid fa-close red large icon-button padding" id="closePopup"></i>
    <div class="pop-content margin-top">
        <div class="row" style="position: relative;">
            <input type="text" name="text" placeholder="Enter your team here" class="form-input padding border" required id="search-bar" oninput="performSearch()">
            <ul id="search-results" class="dropdown"></ul>
        </div>
    </div>
</div>

<div id="overactive"></div>
<div class="pop border bg-white padding box huge-elevate" id="contributeButton">
    <i class="fa-solid fa-close red large icon-button padding" id="closeBtn"></i>
    <div class="align-center">
        <h1 class="huge margin-bottom">Login</h1>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Enter your Email" class=" form-input padding border margin-bottom required">
        <input type="password" name="password" placeholder="Enter your password" required class=" form-input padding border margin-bottom">
        <button type="submit" class="form-input border" style="background-color: red; color: white; cursor: pointer;">Login</button>
        <p class="margin-top">You don't have an account?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScq4_j1NquFzSMxXI5Qu7iyj0gMVcULoNDcZAOpJSIm18kfRg/viewform?usp=pp_url" ><strong><u>Register now</u></strong>  </a>
    </form>
    </div>
</div>
<script src="/javascripts/pop.js"></script>